.wrapper {
    margin: 0 auto;
    width: 100%;
    background: rgb(255, 255, 255);
    max-width: 1200px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px double rgb(207, 207, 207);
  }

.header {
    width: 100%;
    text-align: center;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 1.5vw;
    color:#111111;
  }

.request {
    width: 100%;
 /*   text-align: center; */
    font-family:Arial,Helvetica,sans-serif;
    font-size: 1.5vw;
    color:#111111;
  }


.table {
    width: 100%; 
    text-align: center;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 1.0vw;
    color:#111111;
    border: 1px double rgb(207, 207, 207);
    overflow-x: auto;
}



  div.dataTables_wrapper {
    width: 98%;
    margin: 0 auto;
}

/* Стилизация выпадающих списков*/
.big {
  font-size: 1.2em;
}


/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  cursor:pointer;
  background-color: #2980b9;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

/*Стилизация кнопок*/
a.buttonAdd {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
a.buttonAdd:hover { background: rgb(53, 167, 110); }
a.buttonAdd:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

/******************/
a.buttonRemove {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(199, 64, 64);
  box-shadow: 0 -3px rgb(167, 53, 53) inset;
  transition: 0.2s;
  margin-left: 15px;
} 
a.buttonRemove:hover { background: rgb(167, 53, 53); }
a.buttonRemove:active {
  background: rgb(147, 33, 33);
  box-shadow: 0 3px rgb(147, 33, 33) inset;
}

/********************************/
.tableToolbar{
  width: 100%;
  text-align: left;
}



a.buttonMinus {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(199, 64, 64);
  box-shadow: 0 -3px rgb(167, 53, 53) inset;
  transition: 0.2s;
  margin-left: 90px;
} 
a.buttonMinus:hover { background: rgb(167, 53, 53); }
a.buttonMinus:active {
  background: rgb(147, 33, 33);
  box-shadow: 0 3px rgb(147, 33, 33) inset;
}


.select-cnt{
  margin-left: 30px;
}