.wrapper {
    margin: 0 auto;
    width: 100%;
    background: rgb(255, 255, 255);
    max-width: 1200px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px double rgb(207, 207, 207);
  }

.header {
    width: 100%;
    text-align: center;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 1.5vw;
    color:#111111;
  }

.request {
    width: 100%;
 /*   text-align: center; */
    font-family:Arial,Helvetica,sans-serif;
    font-size: 1.5vw;
    color:#111111;
  }


.table {
    width: 100%; 
    text-align: center;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 1.0vw;
    color:#111111;
    border: 1px double rgb(207, 207, 207);
    overflow-x: auto;
}



  div.dataTables_wrapper {
    width: 98%;
    margin: 0 auto;
}

/* Стилизация выпадающих списков*/
.big {
  font-size: 1.2em;
}


/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  cursor:pointer;
  background-color: #2980b9;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

/*Стилизация кнопок*/
.buttonAdd{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #5dda78 #000 #39a04f;
  border-radius: 6px;
  background: linear-gradient(#3ec75b, #3ec75b) #3ec75b;
  transition: 0.2s;
  font-size: 1.0vw;
  margin-left: 15px;
  vertical-align: middle;
}

.buttonAdd:hover{
  background: linear-gradient(#39e75f, #39e75f) #39e75f;
}


.buttonAdd:active{
  background: linear-gradient(#39ac52, #39ad52) #3ab655; 
}


/******************/

.buttonRemove{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #fd6233 #000 #d70606;
  border-radius: 6px;
  background: linear-gradient(#f3310f, #e33516) #e35016;
  transition: 0.2s;
  font-size: 1.1vw;
  margin-left: 15px;
  vertical-align: middle;
}

.buttonRemove:hover{
  background: linear-gradient(#f04c40, #f55f44) #f04d25;
}


.buttonRemove:active{
  background: linear-gradient(#f51000, #f53100) #f51000; 
}


.buttonRemoveDisabled{
  display: inline-block;
  color: rgb(221, 212, 212);;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #fd6233 #000 #d70606;
  border-radius: 6px;
  background: linear-gradient(#f3310f, #e33516) #e35016;
  transition: 0.2s;
  font-size: 1.1vw;
  margin-left: 15px;
  vertical-align: middle;
}

/********************************/
.tableToolbar{
  width: 100%;
  text-align: left;
  font-size: 1.0vw;
}

.buttonMinus{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #fd6233 #000 #d70606;
  border-radius: 6px;
  background: linear-gradient(#f3310f, #e33516) #e35016;
  transition: 0.2s;
  font-size: 1.1vw;
  margin-left: 40px;
  vertical-align: middle;
}

.buttonMinus:hover{
  background: linear-gradient(#f04c40, #f55f44) #f04d25;
}


.buttonMinus:active{
  background: linear-gradient(#f51000, #f53100) #f51000; 
}

/*****************************************/
.buttonMinusDisabled{
  display: inline-block;
  color: rgb(221, 212, 212);
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #fd6233 #000 #d70606;
  border-radius: 6px;
  background: linear-gradient(#f3310f, #e33516) #e35016;
  transition: 0.2s;
  font-size: 1.1vw;
  margin-left: 40px;
  vertical-align: middle;
}

/********************************************/
.buttonEdit{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  font-size: 1.1vw;
  margin-left: 15px;
  vertical-align: middle;
}

.buttonEdit:hover{
  background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}


.buttonEdit:active{
  background: linear-gradient(#f59500, #f5ae00) #f59500; 
}

/*****************************************/
.buttonEditDisabled{
  display: inline-block;
  color: rgb(221, 212, 212);
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  font-size: 1.1vw;
  margin-left: 15px;
  vertical-align: middle;
}

/*****************************/
.select-cnt{
  vertical-align: middle;
}