<!DOCTYPE html>
<html>
    <head>
        <title>Учет компонентов</title>
        <script type="text/javascript" src=".{{ url_for('static', filename='jquery.js') }}"></script>
        <link rel="stylesheet" type="text/css" href=".{{ url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" type="text/css" href=".{{ url_for('static', filename='modal.css') }}"/>
        <link rel="stylesheet" type="text/css" href=".{{ url_for('static', filename='jquery.dataTables.css') }}">
        <script type="text/javascript" charset="utf8" src=".{{ url_for('static', filename='jquery.dataTables.js') }}"></script>
    </head>
    <body>
        <div class="wrapper" >
            <div class="header">
                <h1 style="text-align:center">УЧЕТ ЭЛЕКТРОННЫХ КОМПОНЕНТОВ</h1>
            </div>

            <div class="request">
                <form action="select1.php" method="post">
                    <p><select size="5" multiple name="hero[]">
                     <option disabled>Тип компонента</option>
                     <option value="Чебурашка">Микросхемы</option>
                     <option selected value="Крокодил Гена">Конденсаторы</option>
                     <option value="Шапокляк">Резисторы</option>
                     <option value="Крыса Лариса">Транзисторы</option>
                    </select></p>
                    <p><input type="submit" value="Применить фильтры"></p>
                   </form>
            </div>

            <h1 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Модальное окно на чистом CSS</h1>
            <div class="container">
                <div style="text-align: center;">
                <a href="#openModal">Открыть модальное окно</a>
                </div>
                <div id="openModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Название</h3>
                        <a href="#close" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">
                        Содержимое модального окна...
                        <button id="addRow">Добавить строку</button>
                    </div>
                    </div>
                </div>
                </div>
            </div>

            
            <div class="table" id = "data">
                <table id="example" class="display compact" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Классификация</th>
                            <th>Наименование производителя</th>
                            <th>Значение</th>
                            <th>Единицы измерения</th>
                            <th>Точность</th>
                            <th>Напряжение мощность</th>
                            <th>Корпус</th>
                            <th>Производитель</th>
                            <th>Количество</th>
                            <th>Номер ячейки</th>
                            <th>Дата изменения</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </body>

    <script>
        var container = document.getElementById("data");
        
        var columns = ["Тип компонента", "Наим. произв.", "Значение", "Точность", "Напр./Мощн.", "Корпус", "Производитель", "Количество", "Примечание", "Действие"];


        function showTable()
        {
            var newTable = document.createElement("table");
            var tHead = document.createElement("thead");

            // Генерация заголовков колонок
            for (var i = 0; i < columns.length; i++)
            {
                var th = document.createElement("th");
                th.innerHTML = columns[i];
                tHead.appendChild(th);
            }

            // Прикрепление заголовков к таблице
            newTable.appendChild(tHead);
            newTable.align = "center";
            newTable.className = "table_blur";

            // Заполнение таблицы
            for (var y = 0; y <= 100; y++)
            {
                var newRow = newTable.insertRow(y);
                for (var  x = 0; x < columns.length; x++)
                {
                    var newCell = newRow.insertCell(x);

                    if ((y > 0) && (x == 0))
                    {
                        //newCell.className = "tittle";
                        newCell.innerHTML = y + 1;
                    }
                    else
                    {
                        newCell.innerHTML = (x + 1) * (y + 1);
                    }
                }
            }

            container.appendChild(newTable);
        }
        
        var table;
        function update()
        {
            table.destroy();

            table = $('#example').DataTable( {
                "ajax": "./get_data"
            } );
        }

        $(document).ready(function () {


            var scrollbar = document.body.clientWidth - window.innerWidth + 'px';
            console.log(scrollbar);
            document.querySelector('[href="#openModal"]').addEventListener('click', function () {
                document.body.style.overflow = 'hidden';
                document.querySelector('#openModal').style.marginLeft = scrollbar;
            });
            document.querySelector('[href="#close"]').addEventListener('click', function () {
                document.body.style.overflow = 'visible';
                document.querySelector('#openModal').style.marginLeft = '0px';
            });
            

            table = $('#example').DataTable( {
                "ajax": "./get_data",
                scrollY:        '60vh',
                scrollX: true,
                "language": {
                    "lengthMenu": "Показать _MENU_ записей на странице",
                    "zeroRecords": "По Вашему запросу ничего не найдено",
                    "info": "Показано страниц _PAGE_ из _PAGES_",
                    "infoEmpty": "Нет ни одной записи",
                    "infoFiltered": "(Найдено из _MAX_ записей)",
                    "search": "Поиск"
                },
                "pagingType": "full_numbers",
                "lengthMenu": [[25, 50, -1], [25, 50, "Все"]]
            } );


            var counter = 1;
 
            $('#addRow').on( 'click', function () {
                table.row.add( [
                    counter +'.1',
                    counter +'.2',
                    counter +'.3',
                    counter +'.4',
                    counter +'.5',
                    counter +'.6'
                    
                ] ).draw( false );

                counter++;


                var link = document.createElement('a');
                link.setAttribute('href', '#close');
                link.setAttribute('close', 'close');
                link.click();

                document.body.style.overflow = 'visible';
                document.querySelector('#openModal').style.marginLeft = '0px';
            } );

            //showTable();
            //$(".table_blur").floatingScroll();
            //$(".table").attachScroll();
            //$('.table').floatingScrollBar();
            
            //setInterval('update()',5000);
        });
        
    </script>
</html>